.bhiveTitle{
    width: 806px;
    height: 254px;
    top: 108px;
    left: 120px;
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: 70.19px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute; 
    margin: 0px; 
    color: #263238;
}



.bhiveTitle span{
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: 70.19px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#F2B304;
}

.bhiveTitleContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    width: 823px;
    height: 500px;
    top: 98px;
    gap: 0px;
    position: absolute;
    left: 0px;
  }

.bhiveTitleContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/titleBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; 
}

.co-working{
    position: absolute;
    left: 932px;
}

.co-working img{
    width: 388px;
    height: 388px;
    top: 132px;
    position: absolute;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) { /* For tablets and smaller screens */
    .bhiveTitleContainer {
        top: 23%; 
        left: unset; 
        width: 95%; 
        padding: 10px; 
        margin-top: 10px; 
        height:15%;
    }

    .bhiveTitleContainer::before {
        display: none; /* Remove the background image */
    }

    .bhiveTitle {
        width: 95%; 
        height: 15%;
        position: relative;
        margin: 0 auto;
        left: -24px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        letter-spacing: -1px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        
    }

    .bhiveTitle span {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        letter-spacing: -1px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .co-working {
        left: unset; 
        width: 100%;
        display: flex; 
        justify-content: center;
        margin-bottom: 10px; 
    }

    .co-working img {
        width: 300px; 
        height: 300px;
        position: static; 
    }
}

/* For small mobile phones */

@media (max-width: 480px) { 
    .bhiveTitle {
        font-size: 20px; 
        line-height: 30px;
        padding: 0 10px;
    }

    .bhiveTitle span {
        font-size: 24px;
    }

    .co-working img {
        width: 250px; 
        height: 250px;
    }
}