.amenities {
    text-align: center;
    top:640px;
    position: absolute;
}
h2{
    margin: 0px;
}

.advantagesQuestion {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #263238;
    position: absolute;
    left: 120px;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px; 
    top: 64px;
    position: relative;
    left: 10px;
}

.feature-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 80px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.feature-item:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.featureName {
    color: #263238;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .amenities {
        position: absolute;
        top: 400%;
    }
    .feature-item {
        width: 200px;
        flex-direction: column;
        justify-content: center;
    }
    .features-grid {
        gap: 15px; 
        left:0px;
        height: 80px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .amenities {
        position: absolute;
        top: 60%;
    }
    .feature-item {
        width: 40%; 
    }

    

    .advantagesQuestion {
        left:23px;
        font-family: Inter;
        font-size: 26px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
}

@media (max-width: 480px) {
    .feature-item {
        width: 40%; 
    }

   

    .advantagesQuestion {
        font-size: 26px;
    }

    .image-container img {
        width: 28px;
        height: 28px;
    }

    .featureName {
        font-size: 14px;
    }
}
